{% extends 'base.html' %} {% set active = "About" %} {% block content %}
<h1 class="mb-4 mt-4">About</h1>

<div
    class="about-container"
    style="display: flex; align-items: center; justify-content: space-between"
>
    <div class="about-image" style="flex: 1; max-width: 50%; margin-right: 5%">
        <img
            style="width: 100%; height: auto"
            src="{{ url_for('static', filename='img/about-pigeon1.jpg') }}"
        />
    </div>
    <div class="about-text" style="flex: 1; max-width: 50%">
        <p>
            Pigeon racing, a captivating sport, involves homing pigeons racing
            over long distances to their lofts. Enthusiasts, known as pigeon
            fanciers, carefully breed and train pigeons for their homing
            instincts and speed. Equipped with electronic timing devices, races
            cover significant distances, with participants eagerly celebrating
            the fastest birds upon their return.
        </p>
        <p>
            The sport's rich history dates back centuries, with roots in ancient
            civilizations like Egypt and Greece, where pigeons were revered for
            their homing abilities. Evolving into an organized sport in the
            mid-19th century, pigeon racing gained international popularity.
            Today, it continues as a blend of tradition, competition, and
            camaraderie, preserving the remarkable connection between these
            birds and humanity.
        </p>
    </div>
</div>
{% endblock %}
