{% extends 'base.html' %} {% set active = "View" %} {% block content %}
<div class="mt-5 text-center">
    <h2 class="mb-5">Pigeon Hole</h2>
    {% if pigeon %}
    <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ pigeon.image_url }}" class="card-img" alt="{{ pigeon.name }}" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ pigeon.name }}</h5>
                    <p class="card-text">
                        <small class="text-muted">Band ID: {{ pigeon.band_id }}</small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Color: {{ pigeon.color }}</small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Sex: {{ pigeon.sex }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5">
        <button class="col btn btn-primary mr-2">View Relationship</button>
        <button class="col btn btn-secondary mr-2" data-toggle="modal" data-target="#exampleModal">
            Add Parents
        </button>
        <button class="col btn btn-info mr-2">Edit</button>
        <button class="col btn btn-danger">Delete</button>
    </div>
    <button class="btn btn-secondary" onclick="window.location.href='/pigeon/view'">
        Back
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add Parents
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--create dropdown -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="exampleFormControlSelect1">Select Father</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="exampleFormControlSelect1">Select Mother</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
