{% extends 'base.html' %} {% set active = "Register" %} {% block content %}
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 550px;">
        <h1 class="card-title mb-4 text-center">Edit Pigeon</h1>

        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <img
             src="{{ pigeon.image_url }}"
             class="card-img-top img-fluid mb-4"
             alt="{{ pigeon.name }}"
             style="max-height: 350px; object-fit: contain; width: auto; margin: 0 auto;"
         />

        <form method="post" action="/pigeon/edit/{{ pigeon._id }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.band_id.label}}
                    {{ form.band_id(class="form-control", value=pigeon.band_id)}}
                </div>
                <div class="form-group col-md-6">
                    {{ form.name.label}}
                    {{ form.name(class="form-control", value=pigeon.name)}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.sex.label }}
                    {% for subfield in form.sex %}
                        <div class="form-check">
                            <td>{{ subfield(class="form-check-input") }}</td>
                            <td>{{ subfield.label(class="form-check-label") }}</td>
                        </div>
                    {% endfor %}


                </div>
                <div class="form-group col-md-6">
                    {{ form.color.label }}
                    {{ form.color(class="form-control")}}
                </div>
            </div>
            <div class="form-group">
                {{ form.date_of_birth.label }}
                {{ form.date_of_birth(class="form-control", value=pigeon.date_of_birth)}}
            </div>
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class="form-control-file") }}
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <button
                type="button"
                class="btn btn-secondary"
                onclick="window.location.href='/pigeon/{{ pigeon._id }}'"
            >
                Cancel
            </button>
        </form>
    </div>
</section>
{% endblock %}
