{% extends 'base.html' %} {% set active = "Register" %} {% block content %}
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 650px">
        <h1 class="card-title mb-4 text-center">Register</h1>
        <p class="text-center">Join our community by creating an account.</p>

        {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <form method="POST" action="/auth/register">
            <div class="form-group row mb-3">
                <label for="inputFirstName" class="col-sm-2 col-form-label"
                    >First Name</label
                >
                <div class="col-sm-10">
                    <input
                        type="text"
                        class="form-control"
                        id="inputFirstName"
                        name="first_name"
                        placeholder="First Name"
                        required
                    />
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="inputLastName" class="col-sm-2 col-form-label"
                    >Last Name</label
                >
                <div class="col-sm-10">
                    <input
                        type="text"
                        class="form-control"
                        id="inputLastName"
                        name="last_name"
                        placeholder="Last Name"
                        required
                    />
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="inputEmail4" class="col-sm-2 col-form-label"
                    >Email</label
                >
                <div class="col-sm-10">
                    <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        name="email"
                        placeholder="Email"
                        required
                    />
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="inputPassword4" class="col-sm-2 col-form-label"
                    >Password</label
                >
                <div class="col-sm-10">
                    <input
                        type="password"
                        class="form-control"
                        id="inputPassword4"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                </div>
            </div>
        </form>
        <div class="mt-4 text-center">
            Already have an account?
            <a href="/auth/login" class="link-primary">Login Here</a>
        </div>
    </div>
</section>
{% endblock %}
