{% extends 'base.html' %} {% set active = "View" %}

{% macro render_pagination(pagination, endpoint) %}
    <div class=page-items>
        {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page) }}{% if 'name' in data %}&name={{ request.args.get('name') }}{% endif %}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item" ><a class="page-link" href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item">…</li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% block content %}
<div class="mt-5 text-center">
    <h2 class="mb-5">Pigeon Hole</h2>
    {% if page%}
    <div class="row form-outline mb-5" data-mdb-input-init>
        <input id="pigeonSearch" type="search" id="form1" class="form-control col-md-8 mr-2" placeholder="Search pigeon" aria-label="Search" value="{{ name }}" />
        <button id="pigeonSearchButton" class="col-md btn btn-secondary mr-2">Search</button>
        <button class="col-md btn btn-secondary" onclick="window.location.href='/pigeon/add'">Add Pigeon</button>
    </div>
    <div class="row">
        {% for pigeon in page %}
        <div class="col-4 h-100">

            <div id="card-img-top" class="card" data-name="{{ pigeon.name }}">
                <img src="{{ pigeon.image_url }}" class="card-img mx-auto" alt="{{ pigeon.name }}" style="
                    height: 300px;
                    object-fit: cover;
                    max-height: 350px;
                " />
                <div class="card-body">
                    <h5 class="card-title">{{ pigeon.name }}</h5>
                    <p class="card-text">
                        <small class="text-muted">Band ID: {{ pigeon.band_id }}</small>
                    </p>
                    <a href="/pigeon/{{pigeon._id}}" class="btn btn-primary stretched-link">View pigeon</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {{ render_pagination(page, "pigeon.view") }}

    {% else %}
    <h3 class="font-weight-light text-muted mb-5">
        Hmmm... It seems that there are no pigeons to display.
    </h3>

    <img src="{{ url_for('static', filename='img/no-pigeons.webp') }}" />
    <div class="pt-5">
        <button class="btn btn-secondary" onclick="window.location.href='/pigeon/add'">
            Add a pigeon
        </button>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
